*target/
*node_modules/
USAGE.md


# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependencies
node_modules
.pnp
.pnp.js

# Local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Testing
coverage

# Turbo
.turbo

# Vercel
.vercel

# Build Outputs
.next/
out/
build
dist


# Debug
npm-debug.log*

# Misc
.DS_Store
*.pem

# rust
target/

# uv
.uv/
.venv

# json/jsonl
zxxk.json*
.keep

.vscode/
.idea/

.pnpm-store/

.rustfs_data

.mypy_cache

**.gguf

__pycache__
.pytest_cache
output/**
.playwright-cli/**
**/**.pdf
backend/config.yml
